<!--The content below is only a placeholder and can be replaced.-->

<ng-google-letter-avatar firstName='Anthony' lastName="Timothy" shape="circle">
</ng-google-letter-avatar>

<ng-google-letter-avatar firstName='Donald' shape="circle">
</ng-google-letter-avatar>


<ng-google-letter-avatar firstName='Lawrence' lastName="Scott" shape="circle">
</ng-google-letter-avatar>


<ng-google-letter-avatar firstName='Robert' lastName="Tyler" shape="circle">
</ng-google-letter-avatar>


<ng-google-letter-avatar firstName='Patrick' shape="circle">
</ng-google-letter-avatar>

<ng-google-letter-avatar firstName='Anthony' lastName="Timothy" shape="circle">
</ng-google-letter-avatar>

<ng-google-letter-avatar firstName='Jerry' shape="circle">
</ng-google-letter-avatar>


<ng-google-letter-avatar firstName='Gerald' lastName="Scott" shape="circle">
</ng-google-letter-avatar>


<ng-google-letter-avatar firstName='Walter' shape="circle">
</ng-google-letter-avatar>


<ng-google-letter-avatar firstName='Zachary' lastName="Tyler" shape="circle">
</ng-google-letter-avatar>